html{
	min-height:100%
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#main{

}

body{
	font-family:"Arial",Serif;
	background-color:#beff8c;
	height:100%;
	}
.navbar{
	background-color:#000659;
	overflow: hidden;
	height:55px;
	display:flex;
}
.side-nav{
	height:100%;
	width:0;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	overflow-x:hidden;
	padding-top:7px;
	transition:0.5s;
}
.side-nav a{
	padding: 10px 10px 10px 30px;
	text-decoration:none;
	font-size:23px;
	color:#ccc;
	display:block;
	transition:0.3s;
}
.side{
	height:30px;
	width:30px;
}
.side div{
	height:5px;
	margin-bottom:5px;
	width:100%;
	background-color:#f2f2f2;
}
.side-nav .btn-close{
	position:absolute;
	top:0;
	right:22px;
	font-size:36px;
	margin-left:50px;
}
@media(max-width:634px){
	.navbar-nav{display:none}
}

/*julia*/
table, th, td {
    /*border: 1px solid black;*/
  }
table{
    width: 70%;
  }
tr:nth-child(even) {
    background-color: #dbf1d9;

 }
tr:nth-child(odd) {
    height: 45px;
    background-color: #C0F390;
 }
 tr:hover {background-color: #77f072cc;}
